@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : white;
  --color : black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background : white;
    --color : black
  }
} 


.loginGradient {
  background: radial-gradient(circle at 10% 20%, rgb(145, 217, 243) 0%, rgb(147, 164, 243) 90%);
}

.dashboardGradient {
  background: linear-gradient(111.4deg, rgb(122, 192, 233) 18.8%, rgb(4, 161, 255) 100.2%);
}
/* leaflet custom css */
.leaflet-popup-close-button {
  display: none;
}

.leaflet-routing-container {
  display: none !important;  /* Hides the directions panel */
}

body {
  color: var(--color);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn .5s ;
}


@keyframes circleAnim {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.circleAnim {
  animation: circleAnim 10s linear infinite forwards;
}


@keyframes hideFilter {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes showFilter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.showfilter {
  animation: showFilter .5s forwards;
}
.hidefilter{
  animation: hideFilter .5s forwards ;
}