@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : white;
  --color : black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background : white;
    --color : black
  }
} 


.loginGradient {
  background: radial-gradient(circle at 10% 20%, rgb(145, 217, 243) 0%, rgb(147, 164, 243) 90%);
}

.dashboardGradient {
  background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
}

.leaflet-routing-container {
  display: none !important;  /* Hides the directions panel */
}

body {
  color: var(--color);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn .5s ;
}


@keyframes circleAnim {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}


.circleAnim {
  animation: circleAnim 10s linear infinite forwards;
}