@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background : white;
  --color : black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background : white;
    --color : black
  }
}

body {
  color: var(--color);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn .5s ;
}


.curve::before {
  content: '';
  width: 5px;
  background: red;
  padding: 15px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
}